.wrapper  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--color-white);
}

.confirmationText {
    background-color: var(--color-darkGrey);
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
}

.resetButtonConfirm {
    background-color: var(--color-orange);
    color: var(--color-darkGrey);
    padding: 20px 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.resetButtonCancel {
    background-color: var(--color-blue);
    color: var(--color-darkGrey);
    padding: 20px 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
