.wrapper {
    margin-top: 10px;
}

.button {
    border: 2px solid var(--color-white);
    color: var(--color-white);
    width: 100%;
    padding: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
